Django==1.6.2
Pillow==2.3.0
django-admin-bootstrapped==1.6.4
django-crispy-forms==1.4.0
qrcode==4.0.4
sorl-thumbnail==11.12
pyserial
uwsgi
gunicorn==19.4.5
dj-database-url==0.4.0
whitenoise==2.0.6
psycopg2==2.6.1