{% extends "base.html" %}

{% block page-title %}{{ race }}{% endblock page-title %}
{% block content %}
<ul class="pagination">
  <li class="disabled"><a href="#">Round</a></li>
  <li><a href="#">1</a></li>

</ul><br/>
<ul class="pagination pagination-sm">
  <li class="disabled"><a href="#">Heat</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>

    <div class="row">
        <div class="col-xs-6 col-sm-4 text-center">
              <div class="text-muted ">Lane 1</div>
                <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic thumbnail">
              <h4>### Car Name</h4>
              <span class="text-muted">Racer Name</span>
            </div>
            <div class="col-xs-6 col-sm-4 text-center">
                <div class="text-muted text-center">Lane 2</div>
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic thumbnail">
              <h4>### Car Name</h4>
              <span class="text-muted">Racer Name</span>
            </div>
            <div class="col-xs-6 col-sm-4 text-center">
                <div class="text-muted text-center">Lane 3</div>
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic thumbnail">
              <h4>### Car Name</h4>
              <span class="text-muted">Racer Name</span>
            </div>
          </div>

          <h3 class="sub-header text-info">Next Up</h3>
                <div class="row">
            <div class="col-xs-6 col-sm-4 text-center">
              <div class="text-muted ">Lane 1</div>
                <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic thumbnail">
              <h5>### Car Name</h5>
              <span class="text-muted">Racer Name</span>
            </div>
            <div class="col-xs-6 col-sm-4 text-center">
                <div class="text-muted text-center">Lane 2</div>
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic thumbnail">
              <h5>### Car Name</h5>
              <span class="text-muted">Racer Name</span>
            </div>
            <div class="col-xs-6 col-sm-4 text-center">
                <div class="text-muted text-center">Lane 3</div>
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic thumbnail">
              <h5>### Car Name</h5>
              <span class="text-muted">Racer Name</span>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
{% endblock content %}